[req]
distinguished_name = req_distinguished_name
x509_extensions    = x509_ext
req_extensions     = req_ext
prompt             = no

[req_distinguished_name]
C = AU
ST = Queensland
L = Brisbane
O = Vault Service DN
OU = vaultOU
CN = vault.lan

[ x509_ext ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
# You only need digitalSignature below. *If* you don't allow
#   RSA Key transport (i.e., you use ephemeral cipher suites), then
#   omit keyEncipherment because that's key transport.
basicConstraints = CA:FALSE
subjectAltName   = @alt_names
nsComment        = "OpenSSL Generated Certificate"

[req_ext]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = vault.lan
DNS.2 = opi.lan
DNS.3 = opi2.lan
DNS.4 = rock-5b-plus.lan
